/* Fonts */
@font-face {
	font-family: 'Outfit';
	src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
	font-family: 'YoungSerif';
	src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

/* Variables */
:root {
	/* Primary */
	--nutmeg: hsl(14, 45%, 36%);
	--darkRaspberry: hsl(332, 51%, 32%);
	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--roseWhite: hsl(330, 100%, 98%);
	--eggshell: hsl(30, 54%, 90%);
	--lightGrey: hsl(30, 18%, 87%);
	--wengeBrown: hsl(30, 10%, 34%);
	--darkCharcoal: hsl(24, 5%, 18%);
	/* Typography */
	--heading-lg: clamp(2.25rem, 2.162rem + 0.3756vw, 2.5rem);
	--heading-md: 1.75rem;
	--heading-sm: 1.25rem;
	--body: 1rem;
}

/* Box Sizing Rules */
*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Remove Default Spacing */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: var(--body);
	line-height: 1.5;
}

hr {
	width: 100%;
	border: 1px solid var(--lightGrey);
}

.recipe {
	img {
		height: auto;
		width: 100%;
	}
}

.recipe-details {
	padding: 2.5rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 2rem;
}

.title {
	width: 100%;

	h1 {
		margin-bottom: 1.5rem;
		font-family: 'YoungSerif', serif;
		font-size: var(--heading-lg);
		font-weight: 400;
		color: var(--darkCharcoal);
	}

	p {
		color: var(--wengeBrown);
	}
}

.prep {
	width: 100%;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
	background-color: var(--roseWhite);
	border-radius: 12px;

	h3 {
		font-size: var(--heading-sm);
		font-weight: 600;
		color: var(--darkRaspberry);
	}

	ul {
		margin-left: 1.5rem;

		li {
			padding-left: 1rem;
			color: var(--wengeBrown);
		}

		li::marker {
			margin-right: 1rem;
			color: var(--darkRaspberry);
		}

		li span {
			font-weight: 700;
		}

		li:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
}

.section-titles {
	font-family: 'YoungSerif', serif;
	font-size: var(--heading-md);
	font-weight: 400;
	color: var(--nutmeg);
}

.ingredients,
.instructions,
.nutrition {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.5rem;
}

.ingredients {
	ul {
		margin-left: 1.5rem;

		li {
			padding-left: 1rem;
			color: var(--wengeBrown);
		}

		li::marker {
			margin-right: 1rem;
			color: var(--nutmeg);
		}

		li:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
}

.instructions {
	ol {
		margin-left: 1.5rem;

		li {
			padding-left: 1rem;
			color: var(--wengeBrown);
		}

		li::marker {
			margin-right: 1rem;
			color: var(--nutmeg);
		}

		li span {
			font-weight: 700;
		}

		li:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
}

.nutrition {
	p {
		color: var(--wengeBrown);
	}

	table {
		width: 100%;
		border-collapse: collapse;

		tr:not(:last-child) {
			border-bottom: 1px solid var(--lightGrey);
			border-collapse: collapse;
		}

		tr td {
			padding: 0.75rem 0;
		}

		tr:first-child td {
			padding-top: 0;
		}

		tr:last-child td {
			padding-bottom: 0;
		}

		td:first-child {
			padding-left: 2rem;
			color: var(--wengeBrown);
		}

		td:last-child {
			padding-right: 1.5rem;
			font-weight: 700;
			color: var(--nutmeg);
		}
	}
}
